/* Styling for header component */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    background-color: #0E6251;
    max-width: 960px;
  }
  
  /* Styling for header text content */
  .header-text {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    gap: 12px;
  }
  
  /* Styling for header unordered list */
  .header-ul {
    display: flex;
    /* Removing list style from unordered list */
    list-style-type: none;
    padding: 0;
    gap: 12px;
  }
  
  /* Styling for the header link toggle button */
  .header-link-toggle {
      display: none;
    }

  /* Styling for router link items */
  li {
    margin: 0;
    padding: 0;
    }

  a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 10px;
    transition: background-color 0.3s;
  }

  /* Styling for checkboxes */
  button,
  input
  {
    font-family: inherit;
    font-size: 100%;
  }

  .interest-form {
    position: relative;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }

  input {
    width: 200px;
    padding: 8px;
    margin: 0;
    margin-bottom: 12px;
    box-sizing: border-box;
  }

  .message-input {
    width: 100%;
    padding: 72px;
    margin: 0;
    margin-bottom: 12px;
    box-sizing: border-box;
  }

  fieldset {
    margin-bottom: 18px;
    width: 70%;
  }

  input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 1em;
    height: 1em;
    border: 1px solid gray;
    vertical-align: -12px;
    margin-left: 10px;
    margin-right: 6px;
    /* Green colour for customised checkmark */
    color: #28a745;
    padding: 0;
  }

  input[type="checkbox"]::before {
    /* Customised checkmark */
    content: "✔";
    position: absolute;
    font-size: 1.2em;
    right: -1px;
    top: -0.3em;
    /* Hiding checkmark when not checked */
    visibility: hidden;
  }

  input[type="checkbox"]:checked::before {
    /* Showing checkmark when checked */
    visibility: visible;
  }
  
  /* For screens smaller than 1023px (tablets) */
    @media (max-width: 1023px) {
      .header-ul {
        text-align: center;
        max-width: auto;
    }
  }

  /* For screens smaller than 768px (phones) */
  @media (max-width: 768px) {
    /* Adjust header alignment */
    .header {
      justify-content: space-between;
  }
    /* Larger gap between left and right header text items as alignment changes to columns */ 
    .header-text {
      gap: 64px;
    }
    
    /* Display the header link toggle button */
    .header-link-toggle {
      display: block;
      border: none;
      background-color: #0E6251;
      cursor: pointer;
    }
  
    /* Adjust alignment and display for header lists */
    .header-ul-left,
    .header-ul-right {
      flex-direction: column;
      gap: 4vw;
      text-align: center;
      justify-content: center;
      display: none;
    }
  
    /* Display header links when the toggle button is active */
    .displayHeaderLinks {
      display: flex;
    }
    
    .header-ul-left.displayHeaderLinks,
    .header-ul-right.displayHeaderLinks {
      display: flex;
    }
  }